.jumbotron {
  /* min-height: 300px; */
  padding-top:21.25%;
  background-image: url(https://irp-cdn.multiscreensite.com/520e9c30/dms3rep/multi/Depositphotos_199511230_xl-2015RESIZED.jpg);
  background-size:cover;
}

.title {

  background: none;
  top: -150px;
  border: none;

}

h1 {
 
  color:floralwhite;
  font-family: 'PT Serif', serif;
  /* font-weight: bold; */
  font-size: 3.5rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-bottom: 40px;

}

.btn {
  color: white;
  background-color: green;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: soft-light;
  color: black !important;
}
.form-control::placeholder {
  color: black;
}
