.listWrap {
    width: fit-content;
    margin-right: 8px;

}
.listWrap p {
    text-align: center;
    width: fit-content;
}
p {
    width: fit-content;
}

#results{
    border: 2px;
    border-color: black;
   width: 75vw;
    border-style: solid;
    margin-left: 0;
    
}