body{margin-top:20px;
    background:#eee;
    }
    
    .panel-teal .panel-heading {
        background-color: #37BC9B;
        border: 1px solid #36b898;
        color: white;
    }
    
    .panel .panel-heading {
        padding: 5px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        border-bottom: 1px solid #DDD;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
    
    .panel .panel-heading .panel-title {
        padding: 10px;
        font-size: 17px;
    }
    
    form .form-group {
        position: relative;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .inner-all {
        padding: 10px;
    }
    
    
                        
       
    @import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
    
    .btn.btn-social{
      color: white;
      opacity:0.9;
    }
    .btn.btn-social:hover {
      color: white;
        opacity:1;
    }
    .btn.btn-facebook {
    background-color: #3b5998;
    opacity:0.9;
    }
    .btn.btn-twitter {
    background-color: #00aced;
    opacity:0.9;
    }
    .btn.btn-linkedin {
    background-color:#0e76a8;
    opacity:0.9;
    }
    .btn.btn-github{
      background-color:#000000;
      opacity:0.9;
    }
    .btn.btn-google {
      background-color: #c32f10;
      opacity: 0.9;
    }
    
   
    
    
    .bs-callout {
        background: white;
        border-color: #eee;
        border-image: none;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px 1px 1px 5px;
        margin-bottom: 5px;
        padding: 20px;
    }
    .bs-callout:last-child {
        margin-bottom: 0px;
    }
    .bs-callout h4 {
        margin-bottom: 10px;
        margin-top: 0;
    }
    
    .bs-callout-danger {
        border-left-color: green;
    }
    
    .bs-callout-danger h4{
        color: green;
    }
    .image{
     max-width: 170px;
    max-height: 170px;
    }
    
    
    
    
    
    @media (max-width: 992px) {
      .resume-heading .social-btn-holder{
        padding:5px;
      }
    }
    