#login{
padding: 2rem;

}

.signup-btn{
    padding: 1rem;
}

   .login-btn{
padding: 1rem;
   }

   #routes {
       width: 50%;
       margin: auto;
   }
   .login input {
       width: 100%;
   }
   h3 .log {
       text-align: center;
   }
   .col-xs-12 {
       width: 100%;
   }